REACT_APP_MODE="DEVELOPMEN"
REACT_APP_API_DOMAIN="https://api.xbarat-back.pro/"
REACT_APP_DEV_API_DOMAIN="https://api.xbarat-back.pro/"
REACT_APP_GOFTINO_DOMAIN="https://fastgpt-gw.xbarat-back.pro/"
REACT_APP_GOFTINO_API_KEY="rljigf2xyxgrieci63m4h0qc8ec837be3029ffdfb841d3d757d6ef53aa600e01"
