@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  height: 100vh;
}

body {
  height: 100%;
  overflow: hidden;
}

*::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

*::-webkit-scrollbar
{
	width: 7px;
	border-radius: 10px;
	background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
	background-color: #8F97A6;
  padding-top: 10px;
  padding-bottom: 10px;
}

@font-face {
  font-family: manjari-bold;
  src: url('./fonts/En/Manjari-Bold.ttf');
}
@font-face {
  font-family: manjari-regular;
  src: url('./fonts/En/Manjari-Regular.ttf');
}
@font-face {
  font-family: manjari-thin;
  src: url('./fonts/En/Manjari-Thin.ttf');
}

@font-face {
  font-family: ModamFaNum-bold;
  src: url('./fonts/Fa/ModamFaNum-Bold.ttf');
}
@font-face {
  font-family: ModamFaNum-regular;
  src: url('./fonts/Fa/ModamFaNum-Regular.ttf');
}
@font-face {
  font-family: ModamFaNum-thin;
  src: url('./fonts/Fa/ModamFaNum-Thin.ttf');
}

.font-En-bold {
  font-family: manjari-bold;
}
.font-En-regular {
  font-family: manjari-regular;
}
.font-En-thin {
  font-family: manjari-thin;
}

.font-Fa-bold {
  font-family: ModamFaNum-bold;
  direction: rtl;
  text-align: left;
}
.font-Fa-regular {
  font-family: ModamFaNum-regular;
  direction: rtl;
  text-align: left;
}
.font-Fa-thin {
  font-family: ModamFaNum-thin;
  direction: rtl;
  text-align: left;
}

.font-De-bold {
  font-family: manjari-bold;
}
.font-De-regular {
  font-family: manjari-regular;
}
.font-De-thin {
  font-family: manjari-thin;
}

.login-back {
  background-image: url('./Images/pages/Login/back.png');
  background-size: cover;
}

.bg-light {
  background-color: #fff;
}

.bg-light-hover:hover {
  background-color: #EEEEEE !important;
}

.bg-light-back {
  background-color: #EEEEEE;
}

.bg-light-glass {
  background-color: #EEEEEE;
}

.text-light {
  color: #ffffff !important;
}
.text-hover-light {
  transition: all 100ms linear;
}
.text-hover-light:hover {
  color: #fff;
}

.bg-dark {
  background-color: #171D20 !important;
}

.bg-dark-hover:hover {
  background-color: #152831 !important;
}

.bg-dark-back {
  background-color: #152831 !important;
}

.bg-dark-glass {
  background: rgba(33, 45, 50, 0.50);
}

.bg-modal-glass {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-dark {
  color: #171D20;
}

.bg-gray {
  background-color: #8F97A6 !important;
}

.text-gray {
  color: #8F97A6 !important;
}

.border-gray {
  border-color: #8F97A6;
}

.text-blue {
  color: #0A8DFF;
}

.hover-text-blue:hover {
  color: #0A8DFF !important;
}

.bg-blue {
  background-color: #0A8DFF;
}

.hover-bg-blue:hover {
  background-color: #0A8DFF;
}

.border-blue {
  border-color: #0A8DFF;
}

.outline-blue {
  outline: #0A8DFF !important;
}

.focus-outline-blue:focus {
  outline: #0A8DFF !important;
} 

.bg-blue-gradient {
  background: linear-gradient(93deg, #11A7FC 14.34%, #0D6CC0 88.46%);
}
.bg-blue-gradient-opposite {
  background: linear-gradient(157deg, #0D6CC0 0%, #11A7FC  100%);
}

.fill-blue {
  fill: #0A8DFF;
}

.text-blue-gradient {
  background: linear-gradient(93deg, #11A7FC 14.34%, #0D6CC0 88.46%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-green {
  color: #0B9B08;
}

.bg-green {
  background-color: #0B9B08;
}

.border-green {
  border-color: #0B9B08;
}

.text-red {
  color: #E42F08;
}

.bg-red {
  background-color: #E42F08;
}

.border-red {
  border-color: #E42F08;
}

.outline-red {
  outline: 2px #E42F08 !important;
}

.text-yellow {
  color: #FCB819;
}

.text-yellow-gradient {
  background: linear-gradient(268deg, #FCB819 48.51%, #E6C774 98.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rounded-tl-4xl {
  border-top-left-radius: 2rem;
}

@media screen and (min-width: 768px) {
  .rounded-tl-5xl {
    border-top-left-radius: 2.5rem;
  }
  
  .rounded-tr-5xl {
    border-top-right-radius: 2.5rem;
  }
}

.tooltip-light {
  background-color: #EEEEEE !important;
  color: #171D20 !important;
  border-radius: 0.4rem !important;
  font-family: manjari-bold !important;
  padding-inline: .8rem !important;
  padding-top: .5rem !important;
  padding-bottom: .2rem !important;
  z-index: 100 !important;
}

.tooltip-dark {
  background-color: #152831 !important;
  color: #fff !important;
  border-radius: 0.4rem !important;
  font-family: manjari-bold !important;
  padding-inline: .8rem !important;
  padding-top: .5rem !important;
  padding-bottom: .2rem !important;
  z-index: 100 !important;
}

.active-route-shape {
  width: 3.6rem;
  height: 3.6rem;
}

.bg-login {
  background-image: url('./Images/pages/Login/back.png');
  background-size: cover;
}

.input-dark {
  background-color: #171D20;
  font-family: manjari-regular;
  width: 100%;
  border-radius: 0.4rem;
  padding-inline: 15px;
  padding-top: 12px;
  padding-bottom: 6px;
  color: #fff;
  letter-spacing: 0.05rem;
}
.input-dark:focus {
  outline-color: #fff;
  outline-width: 0.5px;
}

.input-light {
  background-color: #fff;
  font-family: manjari-regular;
  width: 100%;
  border-radius: 0.4rem;
  padding-inline: 15px;
  padding-top: 12px;
  padding-bottom: 6px;
  color: #171D20;
  letter-spacing: 0.05rem;
}
.input-light:focus {
  outline-color: #171D20;
  outline-width: 0.5px;
}

.button {
  font-family: manjari-bold;
  padding-inline: 20px;
  padding-top: 17px;
  padding-bottom: 8px;
  border-radius: 10px;
  background: linear-gradient(157deg, #0A8DFF 0%, #619AEF 100%);
  color: #fff;
  font-size: 1.1rem;
}

.disabled-button {
  font-family: manjari-bold;
  padding-inline: 20px;
  padding-top: 15px;
  padding-bottom: 8px;
  border-radius: 10px;
  background: #8F97A6;
  color: #fff;
}

.login-width {
  width: auto;
  max-width: 450px;
}

.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
      url('./Images/pages/Login/loading.gif') center
      no-repeat;
  z-index: 100;
}

.navbar-setting-height {
  height: 23px;
  width: 40px;
}

.h-0-important {
  height: 0px !important;
  overflow: hidden;
}

 
.hide-input-arrows::-webkit-outer-spin-button,
.hide-input-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide-input-arrows[type=number] {
  -moz-appearance: textfield;
}

.min-w-toast {
  min-width: 16rem;
}

.-z-10 {
  z-index: -10;
}

.z-100 {
  z-index: 100;
}

.z-150 {
  z-index: 150 !important;
}

.complete-profile-back {
  background-image: url('./Images/pages/Login/back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .w-complte-profile {
    width: 45vw !important;
  }
}

.w-complte-profile {
  width: auto;
}

@media screen and (min-width: 768px) { 
  .w-done-complete-profile {
    width: 45vw !important;
  }
}

.w-done-complete-profile {
  width: 100vw;
}

.h-done-complete-profile {
  height: 65vh;
}

.w-preview-image-modal {
  width: 70vw;
}

.h-preview-image-modal {
  height: 35vh;
}

@media screen and (min-width: 768px) { 
  .w-preview-image-modal {
    width: 45vw;
  }
  
  .h-preview-image-modal {
    height: 70vh;
  }
}

.w-88 {
  width: 22rem;
}

.text-center-important {
  text-align: center !important;
}

.min-h-72 {
  min-height: 18rem;
}

.-mt-13 {
  margin-top: -3.25rem;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.shadow-dark {
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.3);
}

.shadow-light {
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
}